<template>
  <div>
    <v-container>
      <h3>Create a Book</h3>
      <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="bookName"
      label="Book Name"
      required
    ></v-text-field>
    <v-text-field
      v-model="authorName"
      :rules="nameRules"
      label="Author Name"
      required
    ></v-text-field>
    <!-- <v-text-field
      v-model="authorName"
      :counter="10"
      :rules="nameRules"
      label="Author Name"
      required
    ></v-text-field> -->
    <!-- <v-select
      v-model="select"
      :items="items"
      :rules="[v => !!v || 'Item is required']"
      label="Item"
      required
    ></v-select> -->

    <v-btn
      :disabled="!valid"
      color="success"
      @click="validate"
    >
      Create
    </v-btn>
    </v-form>
    </v-container>
  </div>
</template>

<script>

  import axios from 'axios'

  export default {
    name: 'CreateBook',
    components: {
    },
    methods: {
      validate () {
        if (this.$refs.form.validate()) {
          this.handleCreateBook()
        }
      },
      reset () {
        this.$refs.form.reset()
      },
      handleCreateBook() {
        axios({
          method: 'post',
          url: 'http://localhost:8080/book/',
          data: {
            bookInfo: {
              name: this.bookName
            },
            author: {
              name: this.authorName
            }
          }
        })
        .then((x) => {
          this.$router.push({
            name: 'Book'
          })
        })
      }
    },
    data: () => ({
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 20) || 'Name must be less than 20 characters'
      ],
      valid: false,
      authorName: '',
      bookName: ''
    })
  }
</script>
