<template>
  <div>
    <v-btn absolute
              dark
              fab
              right
              color="pink"
              class="create-button"
              @click="handleCreateClick"
            >
              <v-icon>add</v-icon>
            </v-btn>
            <v-layout row>
    <v-flex xs12>
      <v-list>
        <v-list-tile
          v-for="book in allBooks"
          :key="book._id"
          avatar
          @click="handleBookClick(book)"
        >
          <v-list-tile-content>
            <v-list-tile-title v-text="book.name"></v-list-tile-title>
            <v-list-tile-sub-title>{{ book.author.name }}</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action>
              <v-btn icon ripple @click.stop="handleBookDelete(book)">
                <v-icon color="grey lighten-1">delete</v-icon>
              </v-btn>
            </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-flex>
  </v-layout>
  </div>

</template>

<script>
  import axios from 'axios'

  export default {
    name: 'Book',
    data: () => ({
      allBooks: []
    }),
    components: {
    },
    methods: {
      getAllBooks() {
        axios({
          method: 'get',
          url: 'http://localhost:8080/book'
        }).then((res) => {
          console.log(res)
          this.allBooks = res.data
        })
      },
      handleCreateClick() {
        this.$router.push({
          name: 'CreateBook'
        })
      },
      handleBookClick(book) {
        this.$router.push({
          name: 'ShowBook',
          params: {
            bookId: book._id
          }
        })
      },
      handleBookDelete(book) {
        var deleteMessage = "Are you sure want to delete "+ book.name +" ?"
        if(confirm(deleteMessage)) {
          axios({
            method: 'delete',
            url: 'http://localhost:8080/book/' + book._id
          }).then((res) => {
            this.getAllBooks()
          })
        }
      }
    },
    created() {
      this.getAllBooks()
    }
  }
</script>
<style>
  .create-button {
    bottom: 1em;
  }
</style>
