<template>
  <v-container>

    <v-layout row>
      <v-flex xs12>
        <v-text-field
            label="Book Name"
            placeholder="Placeholder"
            v-model="bookDetail.name"
            readonly
          ></v-text-field>
          <v-text-field
              label="Author Name"
              placeholder="Placeholder"
              v-model="bookDetail.author.name"
              readonly
            ></v-text-field>
          <h3>Other Books by this Author</h3>
        <v-list>
          <v-list-tile
            v-for="book in bookDetail.author.books"
            :key="book._id"
            v-if="book._id !== bookId"
            avatar
            @click="handleBookClick(book)"
          >
            <v-list-tile-content>
              <v-list-tile-title v-text="book.name"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
  import axios from 'axios'

  export default {
    name: 'ShowBook',
    data: () => ({
      bookDetail: {}
    }),
    props: {
      bookId:  {
        required: true,
        type: String
      }
    },
    components: {
    },
    methods: {
      handleBookClick(book) {
        this.$router.push({
          name: 'ShowBook',
          params: {
            bookId: book._id
          }
        })
      }
    },
    created() {
      axios({
        method: 'get',
        url: 'http://localhost:8080/book/' + this.bookId
      }).then((res) => {
        this.bookDetail = res.data
      })
    }
  }
</script>
<style>
  .create-button {
    bottom: 1em;
  }
</style>
