<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Library</span>
        <span class="font-weight-light">Management</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        flat
        router-link to="/author"
      >
        <span class="mr-2">Authors</span>
      </v-btn>
      <v-btn
        flat
        router-link to="/book"
      >
        <span class="mr-2">Books</span>
      </v-btn>
    </v-toolbar>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
    }
  }
}
</script>
