<template>
  <div>
    <v-container>
      <h3>Create an Author</h3>
      <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="authorName"
      :rules="nameRules"
      label="Author Name"
      required
    ></v-text-field>

    <v-btn
      :disabled="!valid"
      color="success"
      @click="validate"
    >
      Create
    </v-btn>
    </v-form>
    </v-container>
  </div>
</template>

<script>

  import axios from 'axios'

  export default {
    name: 'AuthorCreate',
    components: {
    },
    methods: {
      validate () {
        if (this.$refs.form.validate()) {
          this.handleCreateBook()
        }
      },
      reset () {
        this.$refs.form.reset()
      },
      handleCreateBook() {
        axios({
          method: 'post',
          url: 'http://localhost:8080/author/',
          data: {
            author: {
              name: this.authorName
            }
          }
        })
        .then((x) => {
          this.$router.push({
            name: 'Author'
          })
        })
      }
    },
    data: () => ({
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 20) || 'Name must be less than 20 characters'
      ],
      valid: false,
      bookName: ''
    })
  }
</script>
