<template>
  <div>
    <v-btn absolute
              dark
              fab
              right
              color="pink"
              class="create-button"
              @click="handleCreateClick"
            >
              <v-icon>add</v-icon>
            </v-btn>
            <v-layout row>
    <v-flex xs12>
      <v-list>
        <v-list-tile
          v-for="author in allAuthors"
          :key="author._id"
          avatar
          @click="handleAuthorClick(author)"
        >
          <v-list-tile-content>
            <v-list-tile-title v-text="author.name"></v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
              <v-btn icon ripple @click.stop="handleAuthorDelete(author)">
                <v-icon color="grey lighten-1">delete</v-icon>
              </v-btn>
            </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-flex>
  </v-layout>
  </div>

</template>

<script>
  import axios from 'axios'

  export default {
    name: 'Author',
    data: () => ({
      allAuthors: []
    }),
    components: {
    },
    methods: {
      getAllAuthors() {
        axios({
          method: 'get',
          url: 'http://localhost:8080/author'
        }).then((res) => {
          this.allAuthors = res.data
        })
      },
      handleCreateClick() {
        this.$router.push({
          name: 'AuthorCreate'
        })
      },
      handleAuthorClick(author) {
        this.$router.push({
          name: 'AuthorShow',
          params: {
            authorId: author._id
          }
        })
      },
      handleAuthorDelete(author) {
        var deleteMessage = "Deleting this author will delete all his/her books. Do you want to continue?"
        if(confirm(deleteMessage)) {
          axios({
            method: 'delete',
            url: 'http://localhost:8080/author/' + author._id
          }).then((res) => {
            this.getAllAuthors()
          })
        }
      }
    },
    created() {
      this.getAllAuthors()
    }
  }
</script>
<style>
  .create-button {
    bottom: 1em;
  }
</style>
