<template>
  <v-container>

    <v-layout row>
      <v-flex xs12>
        <v-text-field
            label="Author Name"
            placeholder="Placeholder"
            v-model="authorDetail.name"
            readonly
          ></v-text-field>
          <h3>Books by this Author</h3>
        <v-list>
          <v-list-tile
            v-for="book in authorDetail.books"
            :key="book._id"
            avatar
            @click=""
          >
            <v-list-tile-content>
              <v-list-tile-title v-text="book.name"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
  import axios from 'axios'

  export default {
    name: 'Book',
    data: () => ({
      authorDetail: {}
    }),
    props: {
      authorId:  {
        required: true,
        type: String
      }
    },
    components: {
    },
    methods: {
    },
    created() {
      axios({
        method: 'get',
        url: 'http://localhost:8080/author/' + this.authorId
      }).then((res) => {
        this.authorDetail = res.data
      })
    }
  }
</script>
<style>
  .create-button {
    bottom: 1em;
  }
</style>
